---
import Layout from '../layouts/Layout.astro';
import logo from '../images/svg-is-sauguad.svg';
const title = "CSS Munich"
---

<Layout title={title}>
	<main>
		<h1>{title}</h1>
		<img src={logo} width="1000" height="1000" alt="Version of the CSS is awesome meme. It's a sketchy drawing of beer mug. Inside the words 'CSS is sauguad'. The last word extends over the border of the beermug. ">
		<p >
			
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}


</style>
