---
import Layout from '../layouts/Layout.astro';
import logo from '../images/svg-is-sauguad.svg';
const title = "CSS Munich"
---

<Layout title={title}>
		<h1>{title}</h1>
		<img src={logo} width="1000" height="1000" alt="Version of the CSS is awesome meme. It's a sketchy drawing of beer mug. Inside the words 'CSS is sauguad'. The last word extends over the border of the beermug. ">
		<p >
			Have a (alcohol-free) beer and chat about CSS, that's all it is.  
		</p>
</Layout>