<footer>
	<nav>
		<ul>
			<li>
				<a rel"me" href="https://front-end.social/@cssmunich">@cssmunich@front-end.social</a> 
			</li>
			<li>
				<a href="https://github.com/fgeierst/css-munich">Contribute on Github</a>
			</li>
		</ul>
	</nav>
</footer>